.fon__img{
padding: 10px ;
background-image: url(./img/fon3.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
height:400px;
}
.fon__text{
display: flex;
justify-content: center;
text-align: center;
font-size: 64px;
padding: 0;
line-height: 150px;

}
