.cards {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgOnePost {
    width: 600px;
    height: 400px;
    border-radius: 20px;
    margin: 20px;
    object-fit: cover ;
}
.upd {
    border: 0;
    height: 26px;
    width: 26px;
    background-color: white;
} 
button {
    cursor: pointer;
}
[data-tooltip] {
    position: relative;
   }
[data-tooltip]::after {
    content: attr(data-tooltip);
    position: absolute;
    opacity: 0;
    transition: 1s;
    pointer-events: none;
    font-size: 15px;
    width: 200px;
    color: rgb(32, 86, 14);
    left: -20px; top: 0;
  }
  [data-tooltip]:hover::after {
    opacity: 1;
  }